.form .container {
padding:20px;
}

.form input,.form textarea,.form button{
border:1px solid grey;
border-radius:0px;
}

.form input[type="file"] {
border:0px;
}

.builder-image {
width:300px;
box-shadow:3px 3px 7px 2px grey;
}
