.logo {
 color:white;
 background:black;
 padding:8px;
}

.navbar {
   box-shadow:3px 6px 5px lightgrey;
}

.navbar,.navbar-expand-md .navbar-nav .nav-link,.navbar-brand:hover {
color:black;
}

.navbar a,.navbar a:hover {
   color:black;
   text-decoration:none;
   margin-right:10px;
   padding-top:7px;
   display:inline-block;
}